%section

  #main

    %h1 My money's in that office, right?

    %p
      My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm 
      = link_to 'gonna', '#'
      shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?

    %ul
      %li Pulp Fiction
      %li Reservoir Dogs

    %p
      Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.

    %h1 Your bones don't break, mine do.
    %p
      My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?

    %p
      Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.


#right-sidebar
  #five-random-recipes.sidebar-section
    %h1 5 random recipes
    %ul
      %li Chocolate Cola Cake
      %li Mother's Cheese And Onion Pie
      %li Lamb Kebabs
      %li Beef fajitas with guacamole, refried beans and tomato salsa
      %li Salt Cod and Tomato Stew
