- title "Listing recipes"
#main
  %section#recipe_list
    %ul
    - @recipes.each do |r|
      %li
        = link_to r.title, recipe_path( :username => r.user, :id => r)

#right-sidebar
  =render "links"
  =render "filter"
