@mixin footer

  footer
    color: white
    padding: 2em
    margin-top: 0.5em
    border-top: 0.3em solid $accent
    background-color: black
    background-image: url('micro_carbon.png')
    position: relative
    border-bottom-left-radius: 1em 1em
    border-bottom-right-radius: 1em 1em

    p
      padding: 0
      margin: 0
