@mixin form
  form
    input
      &[type=text]
        width: 35%

    label
      size: larger
      
      .required:after
        content: " *"
        color: red
        size: xx-large

    .row
      label
        color: $text
        width: 8em
        float: left

    .label_above
      label
        width: 16em
        display: block
        float: none
      
      input, textarea
        clear: both

    fieldset
      border: 1px dashed $accent
      margin-bottom: 0.2em

    #errors
      width: 24em
      border: 1px dashed red
      margin-bottom: 1.5em

    .field_with_errors
      label
        color: red

  .section
    clear: left

    .right-panel,.left-panel

      textarea
        width: 70%
        min-width: 20em

      select
        width: 7em

      .section-steps
        min-height: 1.5em
        clear: both
        padding: 0em 1em 1.5em 1em

      .section-ingredients
        min-height: 1.5em
        clear: both
        padding: 0em 1em 1.5em 1em

.placeholder
  border: 1px dashed $accent
  max-width: 16em
