@mixin header($font-size)
  header
    border-bottom: 0.3em solid $accent
    background-color: black
    background-image: url('micro_carbon.png')
    border-top-left-radius: 1em 1em
    border-top-right-radius: 1em 1em
    padding-left: 2em

    h1
      margin: 0
      font-size: $font-size
      text-align: left
      vertical-align: top
      color: $bg-body

    h1::first-letter
      color: $accent

    nav
      padding-top: 0.2em
      font-size: 1.2em

      ul
        padding: 0
        margin: 0
        list-style-type: none

        a 
          color: white
          text-decoration: none

      li
        color: white
        font-weight: bolder
        background-color: $accent
        display: inline
        padding: 0.2em 1em 0em 1em
        border-top-left-radius: 0.3em 0.3em
        border-top-right-radius: 0.3em 0.3em

      li.active
        background-color: $bg-body
        border-bottom: 0.3em $bg-body solid
        color: $accent

  #login
    font-size: 0.6em
    position: absolute
    top: 2em
    right: 10%
    color: $bg-body
    padding: 0.5em
