#ingredient_section
  %h2 Ingredients

  /= The recipe's ingredients
  %ol{:id => :ingredients}
    -@recipe.ingredients.each do |i|
      %li{:id => "ingredient_%s" % i.id, :class => 'ingredient'}= i.text

  /= The recipe's sections
  %ul{:id => :ingredient_sections}
    -@recipe.sections.each do |i|
      %li.section
        =i.name
        %ol{:id => "section_%s" % i.id, :class => 'section_ingredients' }
