#unsectioned_ingredients.left-panel
  %h2 Ingredients
  %ol{:id => "ingredients"}
    -@recipe.ingredients.each do |i|
      %li= i.text

#unsectioned_steps.right-panel
  %h2 Method
  %ol{:id => "steps"}
    -@recipe.steps.each do |s|
      %li= s.text
