=form_for [:manage, @recipe] do |r|

  .row.label_above
    =r.label :description, "Description"
    =r.text_area :description, :rows => 5, :placeholder => "A brief summary of your recipe"

  .row.label_above
    =r.label :serving_instruction, "Serving Suggestion"
    =r.text_area :serving_instruction, :rows => 5, :placeholder => "Serve with chives and a twist of black pepper..."

  .row
    =r.label :preparation_time, "Preparation time"
    =r.number_field :preparation_time, :min => 1, :max => 600, :value => 5

    =r.label :preparation_time_units, "Preparation time units", :hidden => true
    =r.select :preparation_time_units, options_for_time_select

  .row
    =r.label :cooking_time, "Cooking time"
    =r.number_field :cooking_time, :min => 1, :max => 600, :value => 5

    =r.label :cooking_time_units, "Cooking time units", :hidden => true
    =r.select :cooking_time_units, options_for_time_select

  .row
    =submit_tag "Submit", :type => "submit"
