%li{:id => "section_%s" % section.id, :class => "section"}
  %h3= section.name

  .left-panel
    %ol{:class => "section-ingredients"}
      -section.ingredients.each do |i|
        %li{:id => "ingredient_%s" % i.id}= i.text

  .right-panel
    %ol{:class => "section-steps"}
      -section.steps.each do |s|
        %li{:id => "step_%s" % s.id}= s.text
