#step_section
  %h2 Method

  /= The recipe's steps
  %ol{:id => :steps}
    -@recipe.steps.each do |s|
      %li{:id => "step_%s" % s.id, :class => 'step'}= s.text

  /= The recipe's sections
  %ul{:id => :step_sections}
    -@recipe.sections.each do |s|
      %li.section
        =s.name
        %ol{:id => "section_%s" % s.id, :class => 'section_steps' }

  =render "step_form"
