- title "Listing recipes"
#left-content
  %section#recipe_list
    %ul
    - @recipes.each do |r|
      %li
        = link_to r.title, edit_manage_recipe_path(:id => r)

#right-sidebar
  =render "links"
  =render "filter"
