%h1 new recipe

=form_for [ :manage, @recipe ] do |f|

  - if @recipe.errors.any?
    #errors
      %ul
        - @recipe.errors.full_messages.each do |error|
          %li
            = error

  .row.label_above
    =f.label :title, "Recipe name", :class => [ :required ]
    =f.text_field :title, :required => true, :placeholder => "Beans on toast", :required => :required
  

  .row
    =submit_tag "Submit", :type => "submit"
