$accent: rgb(226,76,47)
$accent-dark: darken($accent, 10)
$bg-html: rgb(254,250,247)
$bg-body: white
$bg-elements: rgb(87,68,55)
$hyperlink: blue
$text: rgb(0,0,0)
$font-size: 1em

@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic)
@import "layout/header"
@import "layout/footer"
@import "layout/colours/standard"
@import "layout/form"

html, body
  padding: 0
  margin: 0

html
  height: 100%
  background-color: $bg-html

body
  font-family: 'Lato', sans-serif
  color: $text
  margin: 1em auto 0 auto
  width: 90%
  background-color: $bg-body
  box-shadow: 0em 0.5em 1em rgba(0,0,0,0.5)
  border-radius: 1em 1em

  @include header(6em)
  @include footer
  @include form

a
  color: $hyperlink

#content
  padding: 0em 1em 0em 1em

  h1
    font-size: 1.4em
    color: $accent

  h2
    font-size: 1.2em
    margin-bottom: -0.5em
    color: $accent

  #main
    float: left
    width: 62%

  article
    font-size: 0.8em
    word-spacing: 0.5em
    letter-spacing: 0.03em
    color: $text

    p
      text-align: justify
      text-justify: inter-word


  #right-sidebar
    float: right
    width: 32%
    border-left: 1px dashed $accent
    text-align: center

    h1
      font-size: 1.4em
      color: $accent

    h2
      font-size: 1.0em
      color: $accent

    ul
      list-style-type: none

      li
        padding: 0.2em 0em 0.2em 0em

    .sidebar-section
      text-align: center

  .left-panel
    float: left
    width: 48%
    clear: top

  .right-panel
    float: right
    width: 48%
    clear: top

footer
  clear: both
  bottom: 0em
