!!!
%html{:lang => "en"}
  %head
    =stylesheet_link_tag "base"
    %meta{:charset => "utf-8"}
    %title= yield(:title)
  %body
    =render "shared/standard_header"
    #content
      =yield
    %footer
      %p footer content to go here
